@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 28px;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    /*height: 1200px;*/
    /*height: 100%;*/
    font-family: "Parisienne", cursive;
    background-color: #fdfdfdf2;
}

h1 {
    color: rgb(109 39 249);
    margin: 10px;
    padding: 50px;
}

header p {
    font-size: 18px;

}

p {
    font-size: 18px;

}

header{
    background-color: red;
}

.cabecalho {

    /* Maneira atual de centralizar uma <div> */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /* position:relative; */
    background-color: blueviolet;
    text-align: center;
    color: rgb(255,255,255);
    background-image: linear-gradient(rgba(0,0,0,0.5)), url(imagem-do-bolo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*height: 300px; */
    height: 50%;
    /*height: 50vh; */
    /*width: 50vw; */
    box-shadow: 0px 5px 15px rgba(0,0,0,0.74);
    margin-bottom: 15px;
}

/* Maneira antiga de centralizar uma <div> 
.cabecalho-texto {    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
*/

.cabecalho p {
    /*font-size: 18px;*/
    font-size: 1rem;
    font-style: normal;
    text-transform: capitalize;
    letter-spacing: 2px;
}

#cabecalho {
    background-color: aqua;
}

.primeira-sessao {
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    font-size: 18px;
}

.primeira-sessao p {
    display: inline-block;
    height: 50px;
    width: 200px;
    /*min-width: 100px;*/
    /*max-width: 200px;*/
    line-height: 50px;
    text-align: center;
    font-size: 0.5em; /*relacionado ao tamanho de font da classe pai, no caso primeira-sessao*/
    /*font-size: 0.5rem; relacionado ao tamanho de font da root, no caso html */
}

.container-conteudo-receita {
    display: flex;
    justify-content: space-around;
    margin: 30px;
    gap: 25px;
}

@media (max-width: 426px) {
    .container-conteudo-receita {
        flex-direction: column;
    }
}

.ingredientes,
.preparo {
    line-height: 25px;
}

.formulario-sessao {
    margin: 25px auto;
    max-width: 600px;
}

.formulario-sessao h2 {
    text-align: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formulario label {
    font-weight: bold;
}

.formulario input, .formulario textarea {
    padding: 8px;
    border: 1px solid #5a5a5a;
    border-radius: 8px;
}

.form-grupo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}